<launch>
  <arg name="model" default="$(env FORTYFIVE_ROBOT_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <include file="$(find fortyfive_robot_bringup)/launch/fortyfive_robot_remote.launch">
    <arg name="model" value="$(arg model)"/>
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fortyfive_robot_gazebo)/rviz/fortyfive_robot_gazebo_model.rviz"/>
</launch>
