<launch>
  <arg name="model" default="$(env FORTYFIVE_ROBOT_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <param name="tb3_model" value="$(arg model)"/>

  <include file="$(find fortyfive_robot_bringup)/launch/includes/description.launch.xml">
    <arg name="model" value="$(arg model)" />
  </include>

  <node pkg="fortyfive_robot_fake" type="fortyfive_robot_fake_node" name="fortyfive_robot_fake_node" output="screen" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find fortyfive_robot_fake)/rviz/fortyfive_robot_fake.rviz"/>
</launch>
